@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(#091F3F,#3968A1,#80D1F4 );
}

body h2 {
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question{
  text-align: center;
  color: #091F3F;
  font-weight: 600;
  font-size: x-large;
  padding: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.finish span{
  width: 100%;
  text-align: center;
  font-size: x-large;
  color: darkred;
}

.finish button {
  text-align: center;
}
.inicio{
  display: block;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  
}
.inicio button {
  text-align: center;
}


.botoes{
  display: flex;
  gap: 10px;
  width: 30%;
  justify-content: center;
  
}
@media (max-width: 768px){
  
  .inicio{
    display: block;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    
  }
}