@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::before,
*::after{
    
    box-sizing: border-box;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
  background: linear-gradient(#091F3F,#3968A1 );
  color: white;
}
.titulo{
  
  animation-name: nometitulo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}

@keyframes nometitulo {
  from {color: white;}
  to{color: yellow;}
}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.box-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 15px auto;
    border: 4px dashed white;
    border-radius: 40px;
    padding: 10px;
}
.box-information, h2, h3{
    padding: 10px;
}


.scorebord{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 20px auto;
    border: 4px groove whitesmoke;
    padding: 10px;
}

table th, td {
    border: 1px solid black;
    width: 200vw;
  }

  .botao{
    display: flex;
    justify-content: center;
   
  }

  @keyframes colorbotao {
    from{background-color: rgba(255, 217, 0, 0.651);}
    to{background-color: mediumblue;}
  }

  .botao > a button{
    font-size: large;
    padding: 10px;
    background-color: cadetblue;
    color: aliceblue;
    animation-name: colorbotao;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  footer{
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .box-information{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 15px auto;
      border: 4px dashed white;
      border-radius: 40px;
      
  }
    .box-information, h2, h3{
      padding: 5px;
      
  }
  .scorebord{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px auto;
    border: 4px groove whitesmoke;
    
}
table th, td {
  border: 1px solid black;
  width: 100vw;
  border-radius: 10px;
}
  
  }