@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(#091F3F,#3968A1 );
  background-image: url('../img/fundo\ 2.png');
}


body h2 {
  
  color: white;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question{
  text-align: center;
  color: #091F3F;
  font-weight: 600;
  font-size: x-large;
  padding: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.finish span{
  width: 100%;
  text-align: center;
  font-size: x-large;
  color: darkred;
}

.finish button {
  text-align: center;
}
.finish input{
  width: 100%;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.274);
  border-radius: 3px;
  padding: 5px;
  background-color:rgba(100, 148, 237, 0.071);
  text-align: center;
}
.inicio{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 20%;
  margin-top: 10px;
}
.inicio button {
  display: flex;
  justify-content: center;
  align-items:center ;
    background: linear-gradient(180deg, #3CC0F3 60.16%, #1E88EB 160.16%);
    border: none;
    border-radius: 25px;
    height: 50px;
    color: black;
    cursor: pointer;
    font-size: 30px;
    transition: font-size 0.5s ease-in-out;
    text-align: center;
}


.botoes{
  display: flex;
  gap: 10px;
  width: 10%;
  justify-content: center;
  
}
@media (max-width: 768px){
  
  .inicio{
    display: block;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    
  }
}